
{% extends "app_main/base.html" %}

{% block meta %}
<title>Confluence</title>
<meta property="og:title" content="Scheduler">
<meta name="description" content="Scheduler">
<meta property="og:description" content="Scheduler">
{% endblock %}

{% block content %}

<div class="col-md-10 col-12 demo-public-sans bg-white px-3 py-4 rounded-3">

<h5 class="fw-bold text-center" style="font-family: 'Public Sans';">Confluence</h5>

<h6 class="fw-bold mb-3 text-center" style="font-family: 'Public Sans';">Confluence</h6>

Confluence

</div>

{% endblock %}
